@font-face {
  font-family: 'Fixture Condensed';
  src: url("../fonts/Fixture-CondensedRegular.woff2") format("woff2"), url("../fonts/Fixture-CondensedRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Expanded';
  src: url("../fonts/Fixture-ExpandedBlack.woff2") format("woff2"), url("../fonts/Fixture-ExpandedBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/Fixture-Regular.woff2") format("woff2"), url("../fonts/Fixture-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Italic Expanded ExLight';
  src: url("../fonts/FixtureItalic-ExpandedExtraLight.woff2") format("woff2"), url("../fonts/FixtureItalic-ExpandedExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Expanded';
  src: url("../fonts/Fixture-ExpandedBold.woff2") format("woff2"), url("../fonts/Fixture-ExpandedBold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Expanded';
  src: url("../fonts/Fixture-ExpandedThin.woff2") format("woff2"), url("../fonts/Fixture-ExpandedThin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Expanded';
  src: url("../fonts/Fixture-ExpandedSemiBold.woff2") format("woff2"), url("../fonts/Fixture-ExpandedSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Condensed';
  src: url("../fonts/Fixture-CondensedBold.woff2") format("woff2"), url("../fonts/Fixture-CondensedBold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/FixtureItalic-ExtraBold.woff2") format("woff2"), url("../fonts/FixtureItalic-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Condensed';
  src: url("../fonts/Fixture-CondensedMedium.woff2") format("woff2"), url("../fonts/Fixture-CondensedMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltra-Bold.woff2") format("woff2"), url("../fonts/FixtureUltra-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltraItalic-SemiBold.woff2") format("woff2"), url("../fonts/FixtureUltraItalic-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/Fixture-Light.woff2") format("woff2"), url("../fonts/Fixture-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltra-ExtraBold.woff2") format("woff2"), url("../fonts/FixtureUltra-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/Fixture-SemiBold.woff2") format("woff2"), url("../fonts/Fixture-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Condensed';
  src: url("../fonts/Fixture-CondensedThin.woff2") format("woff2"), url("../fonts/Fixture-CondensedThin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltra-SemiBold.woff2") format("woff2"), url("../fonts/FixtureUltra-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Italic Expanded';
  src: url("../fonts/FixtureItalic-ExpandedBlack.woff2") format("woff2"), url("../fonts/FixtureItalic-ExpandedBlack.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Expanded';
  src: url("../fonts/Fixture-ExpandedExtraLight.woff2") format("woff2"), url("../fonts/Fixture-ExpandedExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Italic Condensed';
  src: url("../fonts/FixtureItalic-CondensedLight.woff2") format("woff2"), url("../fonts/FixtureItalic-CondensedLight.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/Fixture-Black.woff2") format("woff2"), url("../fonts/Fixture-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Italic Expanded SmBold';
  src: url("../fonts/FixtureItalic-ExpandedSemiBold.woff2") format("woff2"), url("../fonts/FixtureItalic-ExpandedSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Expanded';
  src: url("../fonts/Fixture-ExpandedMedium.woff2") format("woff2"), url("../fonts/Fixture-ExpandedMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/Fixture-Bold.woff2") format("woff2"), url("../fonts/Fixture-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltraItalic-Black.woff2") format("woff2"), url("../fonts/FixtureUltraItalic-Black.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Condensed';
  src: url("../fonts/Fixture-CondensedExtraLight.woff2") format("woff2"), url("../fonts/Fixture-CondensedExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Italic Cond ExLight';
  src: url("../fonts/FixtureItalic-CondensedExtraLight.woff2") format("woff2"), url("../fonts/FixtureItalic-CondensedExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/FixtureItalic-Medium.woff2") format("woff2"), url("../fonts/FixtureItalic-Medium.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/FixtureItalic-Black.woff2") format("woff2"), url("../fonts/FixtureItalic-Black.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Expanded';
  src: url("../fonts/Fixture-ExpandedExtraBold.woff2") format("woff2"), url("../fonts/Fixture-ExpandedExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltraItalic-Light.woff2") format("woff2"), url("../fonts/FixtureUltraItalic-Light.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/Fixture-Medium.woff2") format("woff2"), url("../fonts/Fixture-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Italic Expanded';
  src: url("../fonts/FixtureItalic-ExpandedRegular.woff2") format("woff2"), url("../fonts/FixtureItalic-ExpandedRegular.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Condensed';
  src: url("../fonts/Fixture-CondensedBlack.woff2") format("woff2"), url("../fonts/Fixture-CondensedBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Italic Expanded';
  src: url("../fonts/FixtureItalic-ExpandedThin.woff2") format("woff2"), url("../fonts/FixtureItalic-ExpandedThin.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Italic Expanded ExBold';
  src: url("../fonts/FixtureItalic-ExpandedExtraBold.woff2") format("woff2"), url("../fonts/FixtureItalic-ExpandedExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltraItalic-ExtraLight.woff2") format("woff2"), url("../fonts/FixtureUltraItalic-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/FixtureItalic-Thin.woff2") format("woff2"), url("../fonts/FixtureItalic-Thin.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/Fixture-ExtraBold.woff2") format("woff2"), url("../fonts/Fixture-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/FixtureItalic-Bold.woff2") format("woff2"), url("../fonts/FixtureItalic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltra-Regular.woff2") format("woff2"), url("../fonts/FixtureUltra-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltraItalic-Regular.woff2") format("woff2"), url("../fonts/FixtureUltraItalic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Italic Condensed';
  src: url("../fonts/FixtureItalic-CondensedThin.woff2") format("woff2"), url("../fonts/FixtureItalic-CondensedThin.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/FixtureItalic-Regular.woff2") format("woff2"), url("../fonts/FixtureItalic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Italic Expanded';
  src: url("../fonts/FixtureItalic-ExpandedMedium.woff2") format("woff2"), url("../fonts/FixtureItalic-ExpandedMedium.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Italic Condensed';
  src: url("../fonts/FixtureItalic-CondensedRegular.woff2") format("woff2"), url("../fonts/FixtureItalic-CondensedRegular.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/FixtureItalic-SemiBold.woff2") format("woff2"), url("../fonts/FixtureItalic-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltraItalic-Bold.woff2") format("woff2"), url("../fonts/FixtureUltraItalic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/Fixture-ExtraLight.woff2") format("woff2"), url("../fonts/Fixture-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltraItalic-Thin.woff2") format("woff2"), url("../fonts/FixtureUltraItalic-Thin.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Expanded';
  src: url("../fonts/Fixture-ExpandedLight.woff2") format("woff2"), url("../fonts/Fixture-ExpandedLight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Italic Condensed';
  src: url("../fonts/FixtureItalic-CondensedBlack.woff2") format("woff2"), url("../fonts/FixtureItalic-CondensedBlack.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltraItalic-ExtraBold.woff2") format("woff2"), url("../fonts/FixtureUltraItalic-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltra-Light.woff2") format("woff2"), url("../fonts/FixtureUltra-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/FixtureItalic-ExtraLight.woff2") format("woff2"), url("../fonts/FixtureItalic-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Italic Expanded';
  src: url("../fonts/FixtureItalic-ExpandedBold.woff2") format("woff2"), url("../fonts/FixtureItalic-ExpandedBold.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Italic Condensed';
  src: url("../fonts/FixtureItalic-CondensedBold.woff2") format("woff2"), url("../fonts/FixtureItalic-CondensedBold.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Italic Cond';
  src: url("../fonts/FixtureItalic-CondensedSemiBold.woff2") format("woff2"), url("../fonts/FixtureItalic-CondensedSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltra-ExtraLight.woff2") format("woff2"), url("../fonts/FixtureUltra-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltra-Black.woff2") format("woff2"), url("../fonts/FixtureUltra-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/Fixture-Thin.woff2") format("woff2"), url("../fonts/Fixture-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltra-Medium.woff2") format("woff2"), url("../fonts/FixtureUltra-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Fixture';
  src: url("../fonts/FixtureItalic-Light.woff2") format("woff2"), url("../fonts/FixtureItalic-Light.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Condensed';
  src: url("../fonts/Fixture-CondensedSemiBold.woff2") format("woff2"), url("../fonts/Fixture-CondensedSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltra-Thin.woff2") format("woff2"), url("../fonts/FixtureUltra-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Ultra';
  src: url("../fonts/FixtureUltraItalic-Medium.woff2") format("woff2"), url("../fonts/FixtureUltraItalic-Medium.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Condensed';
  src: url("../fonts/Fixture-CondensedLight.woff2") format("woff2"), url("../fonts/Fixture-CondensedLight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Italic Expanded';
  src: url("../fonts/FixtureItalic-ExpandedLight.woff2") format("woff2"), url("../fonts/FixtureItalic-ExpandedLight.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Condensed';
  src: url("../fonts/Fixture-CondensedExtraBold.woff2") format("woff2"), url("../fonts/Fixture-CondensedExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Fixture Italic Condensed ExBold';
  src: url("../fonts/FixtureItalic-CondensedExtraBold.woff2") format("woff2"), url("../fonts/FixtureItalic-CondensedExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Italic Condensed';
  src: url("../fonts/FixtureItalic-CondensedMedium.woff2") format("woff2"), url("../fonts/FixtureItalic-CondensedMedium.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Fixture Expanded';
  src: url("../fonts/Fixture-ExpandedRegular.woff2") format("woff2"), url("../fonts/Fixture-ExpandedRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.nav_logo {
  width: 93px;
  height: 50px;
  position: absolute;
  top: 72px;
  right: 122px;
  z-index: 1;
  background-image: url("../img/header-logo-gray.png");
  background-position: center;
  background-size: contain; }
  .nav_logo:before {
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../img/header-logo.png");
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 300ms ease-out; }
  .nav_logo:hover:before {
    opacity: 1;
    transition: opaticy 500ms ease-in; }

.footer {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  background-position: center;
  background-color: #8e8e8e; }
  .footer_contact {
    flex-basis: 500px;
    height: 100%;
    font-family: 'Fixture';
    font-size: 18px;
    font-weight: normal;
    color: #414141;
    line-height: 160px;
    text-align: center; }
  .footer_social {
    width: 26px;
    height: 26px;
    margin: 0 3px;
    display: inline-block; }
    .footer_socials {
      flex-basis: calc(100% - 1138px);
      margin: 0;
      padding: 0;
      font-size: 0;
      align-items: center;
      justify-content: left;
      display: flex; }
    .footer_social a {
      width: 100%;
      height: 100%;
      display: block;
      background-size: contain;
      background-position: center; }
      .footer_social a.-facebook {
        background-image: url(../img/footer-social-1.png); }
      .footer_social a.-instagram {
        background-image: url(../img/footer-social-2.png); }
  .footer_info {
    flex-basis: 638px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .footer_info_item {
      flex-basis: 50%;
      font-family: 'Fixture';
      font-size: 18px;
      font-weight: normal;
      color: #414141; }
      .footer_info_item strong {
        font-size: 18px;
        font-weight: bold; }
      .footer_info_item small {
        font-size: 15px;
        font-weight: normal; }

@keyframes loaderBox {
  0% {
    width: 1px;
    height: 1px;
    background: #fa5831; }
  50% {
    background: #fa5831; }
  80% {
    background: #e8e8e8; }
  100% {
    width: 100vw;
    height: 100vw;
    background: #e8e8e8;
    z-index: -1; } }

.mapa {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: 'Lato', Futura, Trebuchet MS, Arial, sans-serif;
  color: white; }
  .mapa_mapa {
    position: absolute;
    width: 100%;
    height: 100%; }
  .mapa_info {
    width: 500px;
    height: 100%;
    padding-right: 4px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background: #000;
    opacity: 1;
    /* background: #e8e8e8; */
    transform: translateX(-100%);
    transition: transform 600ms ease-in;
    /* &-subtitulo{
			font-size: 24px;
			text-transform: uppercase;
			top: 88px;
			transition: all 500ms ease-out;
			transition-delay: 500ms;
			&:before{
				content: '';
				display: block;
				position: absolute;
				width: 102px;
				height: 6px;
				background: white;
				left: 50%;
				top: 45px;
				margin-top: -3px;
				margin-left: -51px;
			}
		} */ }
    .mapa_info:before {
      content: "";
      width: 11px;
      height: 11px;
      background: #fa5831;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center;
      transition: all 300ms ease-out; }
    .mapa_info.is-active {
      opacity: 1;
      transform: translateX(0);
      transition: all 600ms ease-out; }
      .mapa_info.is-active:before {
        animation: loaderBox 2000ms;
        animation-delay: 600ms;
        animation-fill-mode: forwards; }
    .mapa_info.is-updating .mapa_info-titulo, .mapa_info.is-updating .mapa_info-subtitulo, .mapa_info.is-updating .mapa_info-endereco, .mapa_info.is-updating .mapa_fotos {
      opacity: 0;
      transition: all 200ms ease-out; }
    .mapa_info.is-updating .mapa_info-titulo, .mapa_info.is-updating .mapa_info-subtitulo, .mapa_info.is-updating .mapa_info-endereco {
      transform: translateY(20px);
      transition: all 0ms linear 500ms, opacity 200ms ease-out; }
    .mapa_info-titulo, .mapa_info-subtitulo, .mapa_info-endereco {
      position: absolute;
      z-index: 2;
      width: 100%;
      text-align: center;
      transition: all 500ms ease-out;
      opacity: 1; }
    .mapa_info-titulo {
      max-width: 100%;
      top: 64px;
      font-family: 'Fixture Expanded';
      font-size: 26px;
      font-weight: 500;
      color: #696969;
      line-height: 24px;
      text-transform: uppercase;
      transition-delay: 1200ms; }
    .mapa_info-subtitulo {
      max-width: 100%;
      top: 89px;
      font-family: 'Fixture Expanded';
      font-size: 26px;
      font-weight: 500;
      color: #696969;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      left: 0;
      transform: none;
      transition-delay: 1400ms; }
    .mapa_info-endereco {
      max-width: 100%;
      top: 128px;
      font-family: 'Fixture Expanded';
      font-size: 16px;
      font-weight: 300;
      color: #696969;
      transition-delay: 1400ms; }
      .mapa_info-endereco > small {
        font-size: 12px; }
  .mapa_scene {
    width: 100%;
    height: 70vh;
    margin-top: 30vh;
    position: absolute;
    z-index: 1; }
    .mapa_scene .-bg {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
    .mapa_scene_cloud-1 {
      width: 240px;
      background-image: url("../img/cloud-1.png");
      position: absolute;
      top: 106px !important;
      left: calc(100% - 200px) !important; }
      .mapa_scene_cloud-1:before {
        content: '';
        padding-top: 62.6%;
        display: block; }
    .mapa_scene_cloud-2 {
      width: 240px;
      background-image: url("../img/cloud-2.png");
      position: absolute;
      top: 0px !important;
      left: 67px !important; }
      .mapa_scene_cloud-2:before {
        content: '';
        padding-top: 48.6%;
        display: block; }
    .mapa_scene_cloud-3 {
      width: 240px;
      background-image: url("../img/cloud-3.png");
      position: absolute;
      top: 50% !important; }
      .mapa_scene_cloud-3:before {
        content: '';
        padding-top: 59%;
        display: block; }
    .mapa_scene_birds {
      width: 191px;
      background-image: url("../img/birds.png");
      position: absolute;
      top: 50% !important;
      left: 40px !important; }
      .mapa_scene_birds:before {
        content: '';
        padding-top: 55.39823%;
        display: block; }
  .mapa_fotos {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 500ms ease-out 800ms; }
    .mapa_fotos .owl-carousel .item {
      margin-top: 30vh;
      height: 70vh;
      background: top center no-repeat;
      background-size: cover; }
    .mapa_fotos .owl-carousel .owl-dots {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-bottom: 12px;
      color: white;
      text-align: center;
      width: 100%; }
    .mapa_fotos .owl-carousel .owl-dot {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 2px;
      background: center center no-repeat;
      background-size: contain;
      background-image: url("../img/box-sm-inativo.png"); }
      .mapa_fotos .owl-carousel .owl-dot.active {
        background-image: url("../img/box-sm-ativo.png");
        transition: all 300ms ase-out; }
  .mapa_popup-titulo {
    font-family: 'Fixture Condensed';
    font-size: 31px;
    font-weight: normal;
    color: #2b2b2b;
    text-transform: uppercase;
    position: relative; }
    .mapa_popup-titulo:before {
      width: 100%;
      height: 1px;
      background: #2b2b2b;
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px; }
  .mapa_popup-subtitulo {
    margin-top: 3px;
    font-family: 'Fixture Condensed';
    font-size: 25px;
    font-weight: bold;
    color: #2b2b2b;
    text-transform: uppercase;
    display: inline-block; }

.popup-tip-anchor {
  height: 0;
  position: absolute;
  width: 300px; }

.popup-bubble-anchor {
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 0;
  opacity: 0;
  transform: translateY(-10px); }

.popup-bubble-anchor.is-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 300ms ease-out; }

.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #6f6f6f; }

.popup-bubble-content {
  max-height: 108px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  background-color: #6f6f6f;
  padding: 15px;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  letter-spacing: 1px; }

body {
  background: #232323;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 200ms 150ms ease-out, margin-left 140ms 150ms ease-out;
  font-family: 'Fixture Expanded';
  font-weight: normal; }
